.toggle--menu {
    display: block;
    width: 44px;
    height: 44px;
    position: relative;
    cursor: pointer;
    @include tablet {
        display: none;
    }
}

// Menu Icon
.icon--menu {
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50.5% );
    width: 32px;
    display: block;
    background: $white;
    height: 3px;
    position: absolute;
    transition: all 400ms ease-in-out;
    border-radius: 1px;
    &::before,
    &::after {
        @extend .icon--menu;
        content: '';
    }
    &::before {
        top: -8px;
    }
    &::after {
        top: 10px;
    }
    .open & {
        transform: translate( -50%, -50% ) rotate( 45deg );
        transform-origin: center center;
        &::before,
        &::after {
            transform: translate( -50%, -50% ) rotate( 90deg );
            transform-origin: center center;
            top: 2px;
        }
    }
}

// carat icon
.icon--carat {
    display: block;
    height: 14px;
    width: 4px;
    position: relative;
    &::before,
    &::after {
        @include before;
        position: absolute;
        height: 100%;
        width: 100%;
        background: $dark-gray;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% ) rotate( 45deg );
        transform-origin: bottom center;
    }
    &::after {
        transform: translate( 0, -50% ) rotate( -45deg );
    }
}

// check icon
.icon--check {
    display: block;
    height: 20px;
    width: 20px;
    position: relative;
    &::before,
    &::after {
        @include before;
        bottom: 3px;
        left: 0;
        transform: translate( -50%, 0 ) rotate( 45deg );
        transform-origin: bottom right;
        background: $dark-gray;
        border-radius: 2px;
    }
    &::before {
        height: 16px;
        width: 4px;
        margin-left: 3px;
    }
    &::after {
        width: 10px;
        height: 4px;
    }
    &.icon--white {
        &::before,
        &::after {
            background: $white;
        }
    }
}

// bang icon
.icon--bang {
    display: block;
    height: 20px;
    width: 16px;
    &::before,
    &::after {
        @include before;
        width: 4px;
        background: $white;
        left: 50%;
        border-radius: 2px;
        transform: translate( -50%, 0 );
    }
    &::before {
        top: 0;
        height: 14px;
    }
    &::after {
        bottom: 0;
        height: 4px;
    }
}
