// whiteout
.whiteout {
    position: relative;
    overflow: hidden;
    z-index: 0;
    .whiteout__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        box-sizing: border-box;
    }
}
