// To vertically center the loading graphic
// .content > section {
//     display: flex;
//     flex-direction: column;
//     flex: 1 1 auto;
// }
.animated-logo {
    max-width: 150px;
    margin: auto;
    display: block;
    width: 50%;
    .order {
        animation: Fill1 1.2s ease-in-out 0.2s infinite;
        fill: $light-gray;
    }
    .cloud {
        stroke: $gray;
        stroke-width: 3;
    }
    $number: 9;
    @for $i from 1 through $number {
        $pctRange: 100/$number;
        $pctEnd: $pctRange * $i;
        $pctStart: $pctEnd - $pctRange;

        @keyframes Fill#{ $i } {
            from, #{ $pctStart }% {
                fill: $light-gray;
            }
            to, #{ $pctEnd }% {
                @if $i == 7 {
                    fill: $white;
                }
                @else {
                    fill: $accent;
                }

            }
        }
        .order-#{ $i } {
            animation-name: Fill#{ $i };
        }
    }
}
