body {
    color: $dark-gray;
    @include font($text);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    @include tablet {
        font-size: 16px;
    }
}
h1, h2, h3, h4, h5, h6 {
    @include font($headline, 700);
}

h1 {
    font-size: 28px;
    @include tablet {
        font-size: 36px;
    }
}

h2 {
    font-size: 18px;
    @include tablet {
        font-size: 28px;
    }
}

strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
.content a:not( .styled-link, .btn ) {
    color: $accent;
}
.content ul:not( .styled-list ) {
    list-style: disc;
    margin: 20px 0;
    padding-left: 30px;
    li {
        margin-bottom: 10px;
    }
}
.content p:not( .styled-p ) {
    margin-bottom: 12px;
}

.white-text {
    color: $white;
}
.highlight-text {
    color: $accent;
}
.primary-text {
    color: $primary;
}

// Header text
.header__title {
    font-size: 16px;
    color: $primary;
    line-height: 16px;
    @include tablet {
        color: $gray;
    }
}

// Nav text
.menu__link--primary {
    font-weight: bold;
    &:hover {
        color: darken( $dark-gray, 10% );
    }
    @include tablet {
        color: $white;
        &:hover {
            color: darken( $accent, 15% );
        }
        &.active {
            color: $accent;
            &:hover {
                color: darken( $accent, 15% );
            }
        }
    }
}

// Section titles
.section__title {
    font-size: 20px;
    font-weight: 400;
    color: $primary;
    letter-spacing: -0.56px;
    text-align: center;
    margin-bottom: 30px;
    @include desktop {
        font-size: 24px;
        letter-spacing: -0.67px;
    }
}

// buttons/cta
.btn {
    font-size: 18px;
    font-weight: 700;
}

// Sidebar Current Temp
.day__content {
    color: $primary;
    line-height: 1;
}
.day__condition {
    font-size: 24px;
}
.day__temp {
    font-size: 72px;
    letter-spacing: -1.71px;
}
.day__date {
    font-size: 16px;
    font-weight: bold;
}
.home__container--right {
    .day__condition {
        font-size: 32px;
    }
    .day__temp {
        font-size: 120px;
    }
}

// Weekly Temps
.weekly__temp {
    font-size: 36px;
    color: $accent;
    letter-spacing: -0.9px;
}
.weekly__date {
    color: $primary;
    line-height: 1;
    font-size: 18px;
}
.weekly__dayOfWeek {
    font-weight: bold;
}

// Description
.home__description {
    color: $white;
    strong {
        color: $accent;
    }
    @include tablet {
        color: $primary;
        strong {
            color: $primary;
        }
    }
}

// Chart label
.chart__label {
    font-size: 14px;
    font-weight: bold;
    color: $primary;
    @include tablet {
        font-size: 18px;
    }
    @include desktop {
        font-size: 22px;
    }
}
