.content {
    flex-wrap: wrap;
    @include tablet {
        flex-wrap: nowrap;
    }
}
.home__container--left {
    background: $light-gray;
    box-sizing: border-box;
    flex: 1 1 100%;
    @include tablet {
        flex: 0 0 320px;
    }
    .home__current-temperature {
        background: $white;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 -20px;
        box-sizing: border-box;
        @include tablet {
            display: none;
        }
    }
}
.home__container--right {
    flex: 1 1 100%;
    max-width: 100%;
    @include tablet {
        max-width: calc( 100% - 320px );
        flex: 1 1 calc( 100% - 320px );
    }
    .right-wrapper {
        display: block;
        @include desktop {
            display: flex;
            padding-top: 80px;
            align-items: center;
            justify-content: center;
        }
    }
    .home__current-temperature {
        display: none;
        @include tablet {
            display: block;
        }
        @include desktop {
            padding: 10px 24px 10px 0;
            border-right: 1px solid $gray;
            flex: 0 1 280px;
            box-sizing: border-box;
        }
    }
    .home__description {
        @include desktop {
            flex: 0 1 260px;
            padding-top: 10px;
            padding-left: 24px;
            box-sizing: border-box;
        }
    }
    .width-wrapper {
        max-width: 800px;
    }
}
.centered-container {
    max-width: 280px;
    margin: 0 auto;
}
