.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    text-decoration: none;
    display: block;
}

// primary
.menu--primary {
    border-top: 1px solid $gray;
    @include desktop {
        border: none;
    }
}
.menu__item--primary {
    box-sizing: border-box;
    border-bottom: 1px solid $gray;
    @include desktop {
        flex: 0 0 auto;
        border: none;
        background: none;
        &:first-child {
            margin-left: auto;
        }
    }
}
.menu__link--primary {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    line-height: 1;
	letter-spacing: 1px;
    @include desktop {
        padding: 0;
        margin: 10px 12px;
        .menu__item:last-child & {
            margin-right: 0;
        }
    }
}
