.weekly {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $gray;
    &.first {
        padding-top: 0;
        margin-top: 0;
        border: 0;
    }
}
.weekly__temp {
    flex: 0 0 55px;
    &::after {
        content: "\00b0";
        position: relative;
        left: -4px;
    }
}
.weekly__date {
    margin: 0 20px 0 10px;
}
.weekly__icon {
    flex: 0 0 44px;
    margin-left: auto;
}
