.home__description {
    margin: 0 -20px;
    padding: 30px 20px 20px;
    background: $primary;
    box-sizing: border-box;
    @include tablet {
        background: none;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        margin: 0;
        padding: 30px 0 20px;
    }
    @include desktop {
        border: 0;
    }
}
