$black         : #000000;
$white         : #ffffff;
$light-gray    : #F5F5F5;
$gray          : #C7C7C7;
$dark-gray     : #A4A4A4;

$accent        : #F4C544;
$primary       : #4A5B72;

$positive      : #3FC380;
$negative      : #F18467;
$caution       : #f9d372;
